train_test/clmr/checkpoints/*
.resume
*.wav
train_test/venv
*.mp3
data/res.txt
train_test/eval_results/
train_test/res.txt
*.pt
data/json
data/node/node_modules
data/tracks.json
data/preview_urls.json
data/venv
*.csv
.DS_Store
.cache
*/__pychache__/*
data/.env
